In [15]:
suits = ['coin' , 'dimond' , 'love' ]
nest  = list(suits)
nest2 = suits

In [16]:
nest.pop()

'love'

In [17]:
print(nest2)
print(nest) 
print(suits)

['coin', 'dimond', 'love']
['coin', 'dimond']
['coin', 'dimond', 'love']

In [18]:
nest is suits

False

In [20]:
nest2 is suits
# is 判断内存地址是否相同，是否操作的是同一个对象 
# == 判断内存中的内容是否相等 。

True

In [21]:
print(nest.append(2))

None

In [22]:
nest.remove(6)

ValueError: list.remove(x): x not in list

In [32]:
s = [3]
s.extend([4, 5])
s

[3, 4, 5]

In [33]:
a = s 
a is s 
a

[3, 4, 5]

In [34]:
a.pop()
s = [3]
s.extend([34,53])
a

[3, 4]

In [35]:

s=[3,4,5]
s.extend([s.append(9), s.append(10)])
s

[3, 4, 5, 9, 10, None, None]

In [36]:
a = [2,4,[1,3]] 
a

[2, 4, [1, 3]]

In [37]:
pokemon = {'pikachu': 25, 'dragonair': 148}
'mewtwo' in pokemon

False

In [39]:
pokemon['mew'] = pokemon['pikachu'] 
pokemon[25] = 'pikachu'
pokemon

{'pikachu': 25, 'dragonair': 148, 'mew': 25, 25: 'pikachu'}

In [40]:
>>> pokemon['mewtwo'] = pokemon['mew'] * 2
>>> pokemon

{'pikachu': 25, 'dragonair': 148, 'mew': 25, 25: 'pikachu', 'mewtwo': 50}

In [41]:
>>> pokemon[['firetype', 'flying']] = 146  # If this errors, just type Error. Note that dictionary keys must be hashable.

TypeError: unhashable type: 'list'

In [56]:
def partial_reverse(s, start):
    """Reverse part of a list in-place, starting with start up to the end of
    the list.

    >>> a = [1, 2, 3, 4, 5, 6, 7]
    >>> partial_reverse(a, 2)
    >>> a
    [1, 2, 7, 6, 5, 4, 3]
    >>> partial_reverse(a, 5)
    >>> a
    [1, 2, 7, 6, 5, 3, 4]
    """
    "*** YOUR CODE HERE ***"
#     实现一个从start开始的列表翻转效果 。
#    可以通过swap函数来实现 。
#   使用迭代的方法来获取 index1 和 index2
# baseline
    index1 = start  
    index2 = len(s) -1
    while (index1  < index2):
        temp = s[index1]
        s[index1] = s[index2]
        s[index2] = temp
        index1 += 1
        index2 -= 1

In [57]:
a = [1, 2, 3, 4, 5, 6, 7]
partial_reverse(a, 2)
a

[1, 2, 7, 6, 5, 4, 3]

In [62]:
def group_by(s, fn):
    """Return a dictionary of lists that together contain the elements of s.
    The key for each list is the value that fn returns when called on any of the
    values of that list.
形成新的字典，每个键 都是 值的 结果 ，相同结果的值，作为同一个键的值
    >>> group_by([12, 23, 14, 45], lambda p: p // 10)
    {1: [12, 14], 2: [23], 4: [45]}
    >>> group_by(range(-3, 4), lambda x: x * x)
    {9: [-3, 3], 4: [-2, 2], 1: [-1, 1], 0: [0]}
    """
    grouped = {}
    for i in s:
        key = fn(i)
        if key in grouped:
            grouped[key].append(i)
        else:
            grouped[key] = [i]
    return grouped

In [63]:
group_by([12, 23, 14, 45], lambda p: p // 10)

{1: [12, 14], 2: [23], 4: [45]}

In [83]:
def pascal(row, column):
    """Returns the value of the item in Pascal's Triangle
    whose position is specified by row and column.
    >>> pascal(0, 0)    # The top left (the point of the triangle)
    1
    >>> pascal(0, 5)	# Empty entry; outside of Pascal's Triangle
    0
    >>> pascal(3, 2)	# Row 3 (1 3 3 1), Column 2
    3
    >>> pascal(4, 2)     # Row 4 (1 4 6 4 1), Column 2
    6
    """
    "*** YOUR CODE HERE ***"
#    因为每一个点(row,colum)l，都是其上方的点(row -1 , colum ) 和 ( row - 1 , colum - 1 ) 求和

#     处于非定义区域内
#   base line
    if column == row == 0 :
        return  1
    elif column >0  and row  == 0  :
        return 0
    elif column < 0 or row < 0 : 
        return 0 
    else:
        return pascal(row -1 , column) + pascal(row -1 , column - 1 )

In [88]:
 pascal(4, 2)

6

In [85]:
pascal(0, 5)

0

In [86]:
pascal(1, 1)

1

In [87]:
pascal(2, 1)

2

In [103]:
def insert_items(s, before, after):
    """Insert after into s after each occurrence of before and then return s.

    >>> test_s = [1, 5, 8, 5, 2, 3]
    >>> new_s = insert_items(test_s, 5, 7)
    >>> new_s
    [1, 5, 7, 8, 5, 7, 2, 3]
    >>> test_s
    [1, 5, 7, 8, 5, 7, 2, 3]
    >>> new_s is test_s
    True
    >>> double_s = [1, 2, 1, 2, 3, 3]
    >>> double_s = insert_items(double_s, 3, 4)
    >>> double_s
    [1, 2, 1, 2, 3, 4, 3, 4]
    >>> large_s = [1, 4, 8]
    >>> large_s2 = insert_items(large_s, 4, 4)
    >>> large_s2
    [1, 4, 4, 8]
    >>> large_s3 = insert_items(large_s2, 4, 6)
    >>> large_s3
    [1, 4, 6, 4, 6, 8]
    >>> large_s3 is large_s
    True
    """
    "*** YOUR CODE HERE ***"
#   要分 情况 讨论， 其中是否 before 和 after 是相等的情况
#     base line
    i = 0 
    while i < len(s):
        if s[i] == before :
            s.insert(i+1,after)
            if before == after : 
                i += 1
        i += 1 

    return s

In [104]:
test_s = [1, 5, 8, 5, 2, 3]
new_s = insert_items(test_s, 5, 7)
new_s

[1, 5, 7, 8, 5, 7, 2, 3]

In [106]:
    >>> double_s = [1, 2, 1, 2, 3, 3]
    >>> double_s = insert_items(double_s, 3, 4)
    >>> double_s
    [1, 2, 1, 2, 3, 4, 3, 4]

[1, 2, 1, 2, 3, 4, 3, 4]